*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;
	height: 100%;

	--primary: teal;
	--fg-primary: white;
	--bg-primary: #080808;
	--bg-secondary: #141414;
	--bg-alt: #333333;

	--green: #538D4E;
	--red: #8E2121;
	--br: 1rem;

	--shop: var(--bg-primary);
	--client: var(--bg-alt);
}

body {
	font-size: 1.8rem;
	padding: 0;
	margin: 0;
	height: 100%;
	font-family: "trebuchet ms", verdana, arial, sans-serif;


	background-color: var(--bg-primary);
	color: var(--fg-primary);
}

/* @media (max-width: 700px) {
	body {
		background-color: red;
	}
} */