#graph {
	font-size: 1.6rem;
	max-height: 100%;
	max-height: 75vh;

	rect {
		fill: none;
		stroke: var(--fg-primary);
		stroke-width: 1px;
		fill: var(--bg-alt);
		rx: .8rem;
		ry: .8rem;
	}

	.client rect {
		fill: var(--client);
	}

	.shop rect {
		fill: var(--shop);
	}
}

.marker {
	fill: var(--bg-alt);
	stroke: var(--bg-alt);
}

.flowchart-link {
	stroke: var(--bg-alt);
	stroke-width: 2px;
}

.edgeLabel {
	padding: .5rem;
	background-color: var(--bg-secondary);
	color: var(--fg-primary);
	border-radius: 50%;
	display: inline-block;
}